<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../public/head.html") %>
    <!-- Importar css -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/user.css">
</head>

<body>
    <!-- NAV -->
    <!-- [?] Pasar como parámetro foto de perfil -->
    <%- include("nav") %>

    <!-- CONTENIDO -->
    <div class="div-content d-flex">
        <!-- PERFIL -->
        <div class="col-3">
            <div id="profile" class="d-flex flex-column">
                <!-- [!] CAMBIAR añadir funcionalidad -->
                <img src="/img/profile.png" alt="Foto Perfil" width="130" class="align-self-center mt-4">
                <!-- Editar perfil -->
                <form method="post" action="/edit_profile" id="edit-profile" class="form-profile">
                    <h2>Editar perfil</h2>
                    <div class="d-flex flex-column">
                        <label for="user-name">Nombre completo</label>
                        <input id="user-name" type="text" value="<%= user.name %>">
                    </div>
                    <div class="d-flex flex-column">
                        <label for="user-username">Nombre de usuario</label>
                        <input id="user-username" type="text" value="<%= user.username %>">
                    </div>
                    <div class="d-flex flex-column">
                        <label for="user-email">Correo electrónico</label>
                        <input id="user-email" type="email" value="<%= user.email %>">
                    </div>
                    <div class="mt-4">
                        <input type="submit" value="Guardar" class="submit-button rounded-pill">
                    </div>
                </form>
                <hr>
                <!-- Cambiar contraseña -->
                <form method="post" action="change_password" id="change-password" class="form-profile">
                    <h2>Cambiar contraseña</h2>
                    <div class="d-flex flex-column">
                        <label for="password">Contraseña actual</label>
                        <input id="password" type="password" value="">
                    </div>
                    <div class="d-flex flex-column">
                        <label for="rep-password">Nueva contraseña</label>
                        <input id="rep-password" type="password" value="">
                    </div>
                    <div class="mt-4">
                        <input type="submit" value="Cambiar" class="submit-button rounded-pill">
                    </div>
                </form>
            </div>
        </div>
        <!-- RESERVAS -->
        <div id="reservations" class="col-9 d-flex flex-column">
            <div class="mt-5 mx-5">
                <h1>Mis reservas</h1>
            </div>
            <hr>
            <div id="reservations-table" class="accordion my-4 mx-5">
                <!-- ACTUALES -->
                <div>  
                    <% currentReservations.forEach((cr, i) => { %>
                        <div class="reservation accordion-item">
                            <!-- Exterior -->
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#reservation-<%= i %>" aria-expanded="false" aria-controls="reservation-<%= i %>">
                                    <img src="/img/destinos/<%= cr.pic %>" alt="Foto Destino" class="accordion-img p-0">
                                    <div class="d-flex flex-column ms-3">
                                        <h2><%= cr.name %></h2>
                                        <p class="mb-0"><%= cr.country %></p>
                                    </div>
                                </button>
                            </h2>
                            <!-- Desplegable -->
                            <div id="reservation-<%= i %>" class="accordion-collapse collapse" data-bs-parent="#reservations-table">
                                <div class="accordion-body">
                                    <div>
                                        <p class="m-1">Fechas: <%= cr.dateStart %> - <%= cr.dateEnd %></p>
                                        <p class="m-1">Nº Viajeros: <%= cr.nPeople %></p>
                                        <p class="m-1 mb-3">Importe Total: <%= cr.totalPrice %>€</p>
                                    </div>
                                    <div class="d-flex m-2">
                                        <!-- Lleva a destination -->
                                        <button class="submit-button rounded-pill"
                                            onclick="location.href='/destination/<%= cr.idDest %>'">Ver destino</button>
                                        <!-- MODAL CANCELAR -->
                                        <button class="submit-button cancel-button rounded-pill"  data-bs-toggle="modal" data-bs-target="#cancelationModal">Cancelar reserva</button>
                                        <div class="modal fade" id="cancelationModal" tabindex="-1" aria-labelledby="cancelationModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                      </div>
                                                    <div class="modal-body d-flex">
                                                        <!-- Resumen Viaje-->
                                                        <p>¿Estás seguro de que quieres cancelar tu reserva? No se puede deshacer esta acción.</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <form method="post" action="/cancel">
                                                            <input type="text" hidden="true" value="<%= cr.id %>">
                                                            <button type="button" class="submit-button cancel-button rounded-pill" data-bs-dismiss="modal">No</button>
                                                            <button type="submit" class="submit-button rounded-pill ms-3" >Sí</button>
                                                        </form>                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>  

                <hr id="separator">

                <!-- PASADAS -->
                <div>
                    <% oldReservations.forEach((or, i) => { %>
                        <div class="reservation accordion-item my-4">
                            <!-- Exterior -->
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed old" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#reservation-<%= currentReservations.length + i %>" aria-expanded="false" aria-controls="reservation-<%= currentReservations.length + i %>">
                                    <img src="/img/destinos/<%= or.pic %>" alt="Foto Destino" class="accordion-img p-0">
                                    <div class="d-flex flex-column ms-3">
                                        <h2><%= or.name %></h2>
                                        <p class="mb-0"><%= or.country %></p>
                                    </div>
                                </button>
                            </h2>
                            <!-- Desplegable -->
                            <div id="reservation-<%= currentReservations.length + i %>" class="accordion-collapse collapse" data-bs-parent="#reservations-table">
                                <div class="accordion-body d-flex">
                                    <div class="w-100">
                                        <p class="m-1">Fechas: <%= or.dateStart %> - <%= or.dateEnd %></p>
                                        <p class="m-1">Nº Viajeros: <%= or.nPeople %></p>
                                        <p class="m-1 mb-3">Importe Total: <%= or.totalPrice %>€</p>
                                    </div>
                                    <div class="d-flex align-items-end">
                                        <!-- Lleva a destination - Sección de comentarios -->
                                        <button class="submit-button rounded-pill comment-button m-2"
                                            onclick="location.href='/destination/<%= or.id %>'">Deja tu comentario</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <%- include("footer") %>
</body>



</html>